# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/

# IDE files
.vscode/
.idea/
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Build outputs
dist/
build/
*.local

# GitHub Pages
.gh-pages/
